USE [master]
GO
/****** Object:  Database [Gas_Management]    Script Date: 15/07/2024 7:26:05 CH ******/
CREATE DATABASE [Gas_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gas_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Gas_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gas_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Gas_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gas_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gas_Management]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[administratorID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[lastLogin] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[roleID] [int] NOT NULL,
	[email] [varchar](100) NULL,
	[img] [nvarchar](max) NULL,
	[adminName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[administratorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [ntext] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[created] [datetime] NULL,
	[lastLogin] [datetime] NULL,
	[status] [bit] NULL,
	[gender] [bit] NULL,
	[image] [nvarchar](max) NULL,
	[firstName] [nvarchar](max) NULL,
	[lastName] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[totalMoney] [money] NULL,
	[isCustomer] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[discountID] [int] IDENTITY(1,1) NOT NULL,
	[discountCode] [varchar](255) NOT NULL,
	[name] [nvarchar](max) NULL,
	[discountAmount] [decimal](10, 2) NOT NULL,
	[discountType] [varchar](10) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[discountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountUsage]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountUsage](
	[usageID] [int] IDENTITY(1,1) NOT NULL,
	[discountID] [int] NULL,
	[useDate] [date] NULL,
	[orderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notiID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[dateSend] [datetime] NOT NULL,
	[isRead] [bit] NOT NULL,
	[isForAdmins] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationReceiver]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationReceiver](
	[notiReceiverId] [int] IDENTITY(1,1) NOT NULL,
	[notiID] [int] NOT NULL,
	[receiverType] [int] NOT NULL,
	[receiverID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notiReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NULL,
	[trackingNumber] [int] NULL,
	[totalMoney] [money] NULL,
	[orderDate] [datetime] NOT NULL,
	[shipAddress] [nvarchar](200) NOT NULL,
	[status] [int] NULL,
	[shipVia] [int] NULL,
	[payment] [nvarchar](1) NULL,
	[notes] [ntext] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NULL,
	[unitPrice] [money] NULL,
	[serialID] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistory]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistory](
	[orderHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[status] [varchar](255) NOT NULL,
	[updatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK__OrderHistory] PRIMARY KEY CLUSTERED 
(
	[orderHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[PaymentMethod] [varchar](50) NULL,
	[PaymentStatus] [varchar](50) NULL,
	[PaymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[administratorID] [int] NOT NULL,
	[Title] [nvarchar](2550) NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateUpdated] [nvarchar](50) NULL,
	[Postbanner] [nvarchar](250) NULL,
	[Context] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[PostCategoryID] [int] NOT NULL,
	[updatedBy] [int] NULL,
 CONSTRAINT [PK__Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategory]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategory](
	[PostCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](2550) NOT NULL,
 CONSTRAINT [PK__PostCategory] PRIMARY KEY CLUSTERED 
(
	[PostCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](max) NOT NULL,
	[name] [nvarchar](max) NULL,
	[keywords] [nvarchar](max) NULL,
	[shortDescription] [nvarchar](max) NULL,
	[description] [ntext] NULL,
	[categoryID] [int] NULL,
	[supplierId] [int] NULL,
	[isActive] [bit] NOT NULL,
	[unitPrice] [money] NULL,
	[image] [varchar](max) NULL,
	[stockQuantity] [int] NULL,
	[unitOnOrders] [int] NULL,
	[createdDate] [datetime] NOT NULL,
	[createdBy] [int] NULL,
	[limit] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImg]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImg](
	[imgID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[Path] [nvarchar](max) NULL,
 CONSTRAINT [PK__ProductImg] PRIMARY KEY CLUSTERED 
(
	[imgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiverType]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiverType](
	[ReceiverTypeId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiverTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](100) NULL,
	[name] [nvarchar](max) NULL,
	[description] [ntext] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SerialNumbers]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SerialNumbers](
	[SerialID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[SerialNumber] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SerialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[shipmentID] [int] IDENTITY(1,1) NOT NULL,
	[companyName] [nvarchar](max) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[status] [bit] NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_Shipments] PRIMARY KEY CLUSTERED 
(
	[shipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierId] [int] IDENTITY(1,1) NOT NULL,
	[companyName] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[createdDate] [datetime] NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[homePage] [varchar](200) NULL,
	[password] [varchar](240) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[supplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warranties]    Script Date: 15/07/2024 7:26:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warranties](
	[WarrantyID] [int] IDENTITY(1,1) NOT NULL,
	[SerialID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ReciverDate] [datetime] NULL,
	[DoneDate] [datetime] NULL,
	[CustomerID] [int] NULL,
	[Process_By] [int] NULL,
	[ProofImg] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[expectedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarrantyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([administratorID], [userName], [password], [lastLogin], [isActive], [roleID], [email], [img], [adminName]) VALUES (1, N'admin', N'Qua3CCUdJoXNHnIq6rQW/tVqu1M=', CAST(N'2024-07-14T10:47:28.197' AS DateTime), 1, 1, N'haquocminhduc@gmail.com', N'anno.jpg', N'Admin Vũ Anh')
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [code], [name], [description]) VALUES (1, N'binh-gas-1', N'Bình gas', N'Bình gas là một thiết bị chứa gas được chế tạo từ vật liệu thép chuyên dụng để bảo quản và giữ an toàn khi lưu trữ, vận chuyển và sử dụng gas.')
INSERT [dbo].[Category] ([categoryID], [code], [name], [description]) VALUES (2, N'bep-gas-2', N'Bếp gas', N'Bếp gas là một loại bếp sử dụng nhiên liệu là khí gas (khí thiên nhiên) để nấu ăn')
INSERT [dbo].[Category] ([categoryID], [code], [name], [description]) VALUES (3, N'phu-kien-3', N'Phụ kiện', N'Phụ kiện là những bộ phận phụ trợ cho bếp ga và bình ga')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [userName], [password], [created], [lastLogin], [status], [gender], [image], [firstName], [lastName], [address], [phone], [email], [totalMoney], [isCustomer]) VALUES (1, N'duc', N'+wHu5XwLRYxRgmDhl6i1kJiEgb4=', NULL, NULL, 1, NULL, NULL, N'huy', N'nguyen', NULL, N'0377043909', N'test@gmail.com', NULL, 1)
INSERT [dbo].[Customer] ([customerID], [userName], [password], [created], [lastLogin], [status], [gender], [image], [firstName], [lastName], [address], [phone], [email], [totalMoney], [isCustomer]) VALUES (2, N'minhduc', N'f3Vtj7tfoK474dHr2PlQKV8yF9w=', NULL, NULL, NULL, NULL, NULL, N'Minh ', N'Duc', N'Ha Noi', N'0984327585', N'haquocminhduc2020@gmail.com', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([discountID], [discountCode], [name], [discountAmount], [discountType], [startDate], [endDate], [quantity]) VALUES (1, N'9HKHBY4EMO', N'BLACK FRIDAY', CAST(500000.00 AS Decimal(10, 2)), N'FIXED', CAST(N'2024-07-15' AS Date), CAST(N'2024-07-20' AS Date), 10)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notiID], [title], [content], [dateSend], [isRead], [isForAdmins]) VALUES (1, N'New Order place', N'<p>Customer Minh  Duc</p>
<p>Have made a purchase</p>
<p>At 2024-07-14 20:12:11', CAST(N'2024-07-14T20:12:11.000' AS DateTime), 0, 1)
INSERT [dbo].[Notification] ([notiID], [title], [content], [dateSend], [isRead], [isForAdmins]) VALUES (2, N'New Order place', N'<p>Customer Minh  Duc</p>
<p>Have made a purchase</p>
<p>At 2024-07-14 20:15:50', CAST(N'2024-07-14T20:15:50.000' AS DateTime), 0, 1)
INSERT [dbo].[Notification] ([notiID], [title], [content], [dateSend], [isRead], [isForAdmins]) VALUES (3, N'New Order place', N'<p>Customer Minh  Duc</p>
<p>Have made a purchase</p>
<p>At 2024-07-14 20:18:34', CAST(N'2024-07-14T20:18:34.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [customerID], [trackingNumber], [totalMoney], [orderDate], [shipAddress], [status], [shipVia], [payment], [notes]) VALUES (3, 1, 2, 320.4000, CAST(N'2024-06-10T00:00:00.000' AS DateTime), N'789 Oak St, Villagetown', 2, 1, N'1', N'Out for delivery')
INSERT [dbo].[Order] ([orderID], [customerID], [trackingNumber], [totalMoney], [orderDate], [shipAddress], [status], [shipVia], [payment], [notes]) VALUES (4, 1, 2, 400.5000, CAST(N'2024-06-15T00:00:00.000' AS DateTime), N'321 Pine St, Hamletville', 2, 2, N'1', N'Awaiting payment')
INSERT [dbo].[Order] ([orderID], [customerID], [trackingNumber], [totalMoney], [orderDate], [shipAddress], [status], [shipVia], [payment], [notes]) VALUES (7, 1, 3, 180.3000, CAST(N'2024-06-30T00:00:00.000' AS DateTime), N'147 Birch St, Cityville', 3, 2, N'1', N'Out for delivery, no issues')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetails] ([orderID], [productID], [quantity], [unitPrice], [serialID]) VALUES (3, 4, 36, 80.1000, NULL)
INSERT [dbo].[OrderDetails] ([orderID], [productID], [quantity], [unitPrice], [serialID]) VALUES (3, 5, 37, 80.2000, NULL)
INSERT [dbo].[OrderDetails] ([orderID], [productID], [quantity], [unitPrice], [serialID]) VALUES (4, 6, 16, 400.5000, NULL)
GO
SET IDENTITY_INSERT [dbo].[OrderHistory] ON 

INSERT [dbo].[OrderHistory] ([orderHistoryID], [orderID], [customerID], [status], [updatedDate]) VALUES (1, 14, 2, N'0', N'2024-07-14')
INSERT [dbo].[OrderHistory] ([orderHistoryID], [orderID], [customerID], [status], [updatedDate]) VALUES (2, 15, 2, N'0', N'2024-07-14')
INSERT [dbo].[OrderHistory] ([orderHistoryID], [orderID], [customerID], [status], [updatedDate]) VALUES (3, 16, 2, N'0', N'2024-07-14')
SET IDENTITY_INSERT [dbo].[OrderHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([PostID], [administratorID], [Title], [DateCreated], [DateUpdated], [Postbanner], [Context], [Description], [PostCategoryID], [updatedBy]) VALUES (1, 1, N'test post 1', N'18/06/2024', N'18/06/2024', N'1_ cuoc hop Bo CT.png', N't', N'test post 1', 1, 1)
INSERT [dbo].[Post] ([PostID], [administratorID], [Title], [DateCreated], [DateUpdated], [Postbanner], [Context], [Description], [PostCategoryID], [updatedBy]) VALUES (2, 1, N'test post 2', N'18/06/2024', N'18/06/2024', N'1_ cuoc hop Bo CT.png', N't2', N'test post 2', 1, 1)
INSERT [dbo].[Post] ([PostID], [administratorID], [Title], [DateCreated], [DateUpdated], [Postbanner], [Context], [Description], [PostCategoryID], [updatedBy]) VALUES (3, 1, N'Giới thiệu', N'18-06-2024', N'18-06-2024', N'2/df.jpg', N'about us', N'about us', 2, 1)
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCategory] ON 

INSERT [dbo].[PostCategory] ([PostCategoryID], [Name]) VALUES (1, N'Banner')
INSERT [dbo].[PostCategory] ([PostCategoryID], [Name]) VALUES (2, N'About Us')
INSERT [dbo].[PostCategory] ([PostCategoryID], [Name]) VALUES (3, N'Customer Service')
SET IDENTITY_INSERT [dbo].[PostCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImg] ON 

INSERT [dbo].[ProductImg] ([imgID], [productID], [Path]) VALUES (1, 1, N'images/product_detail/1_1.jpg')
INSERT [dbo].[ProductImg] ([imgID], [productID], [Path]) VALUES (2, 1, N'images/product_detail/1_2.jpg')
INSERT [dbo].[ProductImg] ([imgID], [productID], [Path]) VALUES (3, 2, N'images/product_detail/2_1.jpg')
SET IDENTITY_INSERT [dbo].[ProductImg] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceiverType] ON 

INSERT [dbo].[ReceiverType] ([ReceiverTypeId], [name]) VALUES (1, N'Shipper')
INSERT [dbo].[ReceiverType] ([ReceiverTypeId], [name]) VALUES (2, N'Supplier')
SET IDENTITY_INSERT [dbo].[ReceiverType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleID], [code], [name], [description]) VALUES (1, N'Admin', N'Administrator', N'Manager webapp')
INSERT [dbo].[Role] ([roleID], [code], [name], [description]) VALUES (2, N'Staff', N'Staff', N'Website employee')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SerialNumbers] ON 

INSERT [dbo].[SerialNumbers] ([SerialID], [ProductID], [SerialNumber]) VALUES (1, 1, N'SN0001')
INSERT [dbo].[SerialNumbers] ([SerialID], [ProductID], [SerialNumber]) VALUES (2, 1, N'SN0002')
INSERT [dbo].[SerialNumbers] ([SerialID], [ProductID], [SerialNumber]) VALUES (3, 1, N'SN0003')
GO
SET IDENTITY_INSERT [dbo].[SerialNumbers] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([shipmentID], [companyName], [email], [phone], [status], [createdDate]) VALUES (1, N'J&T Express', N'JTExpress@gmail.com', N'1900 1088', 1, CAST(N'2024-07-14T10:47:28.173' AS DateTime))
INSERT [dbo].[Shipments] ([shipmentID], [companyName], [email], [phone], [status], [createdDate]) VALUES (2, N'NINJA VAN', N'NINJAVAN@gmail.com', N'1900 886 877', 1, CAST(N'2024-07-14T10:47:28.173' AS DateTime))
INSERT [dbo].[Shipments] ([shipmentID], [companyName], [email], [phone], [status], [createdDate]) VALUES (3, N'Ahamove', N'Ahamove@gmail.com', N'1900 545411', 1, CAST(N'2024-07-14T10:47:28.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([supplierId], [companyName], [status], [createdDate], [email], [phone], [homePage], [password]) VALUES (1, N'PV GAS', 1, CAST(N'2024-07-14T10:47:28.180' AS DateTime), N'pvgas@pvgas.com.vn', N'+84 28 3781 6777', N'https://www.pvgas.com.vn', N'+wHu5XwLRYxRgmDhl6i1kJiEgb4=')
INSERT [dbo].[Supplier] ([supplierId], [companyName], [status], [createdDate], [email], [phone], [homePage], [password]) VALUES (2, N'Gas Gia Đình', 1, CAST(N'2024-07-14T10:47:28.180' AS DateTime), N'gasgiadinh.vn@gmail.com', N'(028) 37.155.166', N'http://gasgiadinh.vn', N'+wHu5XwLRYxRgmDhl6i1kJiEgb4=')
INSERT [dbo].[Supplier] ([supplierId], [companyName], [status], [createdDate], [email], [phone], [homePage], [password]) VALUES (3, N'VT Gas', 1, CAST(N'2024-07-14T10:47:28.180' AS DateTime), N' info@vt-gas.com.vn', N'061. 383 1988', N'http://www.vtgas.com.vn/', N'+wHu5XwLRYxRgmDhl6i1kJiEgb4=')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Warranties] ON 

INSERT [dbo].[Warranties] ([WarrantyID], [SerialID], [CreateDate], [ReciverDate], [DoneDate], [CustomerID], [Process_By], [ProofImg], [Notes], [Status], [expectedDate]) VALUES (1, 31, CAST(N'2024-07-15T00:00:00.000' AS DateTime), NULL, NULL, 2, NULL, N'no-binh-gas-2.jpg,sky.jpg,sky2.jpg', N'Nổ rồi', N'wait', NULL)
SET IDENTITY_INSERT [dbo].[Warranties] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_CouponCode]    Script Date: 15/07/2024 7:26:06 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_CouponCode] ON [dbo].[Discount]
(
	[discountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SerialNumber]    Script Date: 15/07/2024 7:26:06 CH ******/
ALTER TABLE [dbo].[SerialNumbers] ADD  CONSTRAINT [UQ_SerialNumber] UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Role]
GO
ALTER TABLE [dbo].[DiscountUsage]  WITH CHECK ADD FOREIGN KEY([discountID])
REFERENCES [dbo].[Discount] ([discountID])
GO
ALTER TABLE [dbo].[DiscountUsage]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[NotificationReceiver]  WITH CHECK ADD FOREIGN KEY([notiID])
REFERENCES [dbo].[Notification] ([notiID])
GO
ALTER TABLE [dbo].[NotificationReceiver]  WITH CHECK ADD FOREIGN KEY([receiverType])
REFERENCES [dbo].[ReceiverType] ([ReceiverTypeId])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipments] FOREIGN KEY([shipVia])
REFERENCES [dbo].[Shipments] ([shipmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Shipments]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_SerialNumbers] FOREIGN KEY([serialID])
REFERENCES [dbo].[SerialNumbers] ([SerialID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_SerialNumbers]
GO
ALTER TABLE [dbo].[OrderHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistory_Orders] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderHistory] CHECK CONSTRAINT [FK_OrderHistory_Orders]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Admin] FOREIGN KEY([administratorID])
REFERENCES [dbo].[Administrator] ([administratorID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Admin]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_PostCategory] FOREIGN KEY([PostCategoryID])
REFERENCES [dbo].[PostCategory] ([PostCategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_PostCategory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Administrator] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Administrator] ([administratorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Administrator]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([supplierId])
REFERENCES [dbo].[Supplier] ([supplierId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[ProductImg]  WITH CHECK ADD  CONSTRAINT [FK_ProductImg_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImg] CHECK CONSTRAINT [FK_ProductImg_Product]
GO
ALTER TABLE [dbo].[SerialNumbers]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Warranties]  WITH CHECK ADD  CONSTRAINT [FK_Warranties_Administrator] FOREIGN KEY([Process_By])
REFERENCES [dbo].[Administrator] ([administratorID])
GO
ALTER TABLE [dbo].[Warranties] CHECK CONSTRAINT [FK_Warranties_Administrator]
GO
ALTER TABLE [dbo].[Warranties]  WITH CHECK ADD  CONSTRAINT [FK_Warranties_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Warranties] CHECK CONSTRAINT [FK_Warranties_Customers]
GO
ALTER TABLE [dbo].[Warranties]  WITH CHECK ADD  CONSTRAINT [FK_Warranties_SerialNumbers] FOREIGN KEY([SerialID])
REFERENCES [dbo].[SerialNumbers] ([SerialID])
GO
ALTER TABLE [dbo].[Warranties] CHECK CONSTRAINT [FK_Warranties_SerialNumbers]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD CHECK  (([DiscountType]='FIXED' OR [DiscountType]='PERCENT'))
GO
USE [master]
GO
