@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


a{
    text-decoration: none;
    color: #35353f;
}

#list-overduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.product {
  display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 50px;
    flex-wrap: wrap;


}

.card-product {
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    height: 480px;
    border-radius: 10px
}


div.intro {
    margin-bottom: 0.5rem;
    position: relative;
    margin-top: 0.2rem;
    width: 400px;
    height: 35px;
}

div.intro-name {
    position: absolute;
    left: auto;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    width: 60%;
    margin-bottom: 1rem;
    transition: 0.5s;

}
.intro-name:hover a{
    color: #539165;
}

div.intro-rating {
    position: absolute;
    left: 150px;
    font-size: 1rem;
    padding: 0.5rem
}

.card {
    width: 300px;
    height: 420px;
    position: relative;
    background-color: #f0f0f0;
}

.product-img img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    /* background-image: url("./images/app.jpg");
    background-repeat: no-repeat;
    background-position: 0 -75px;
    background-size: cover; */
}
.product-img{
    transition: 0.5s;
    height: 220px;
}

.product-detail {
    width: 280px;
    height: 170px;
    background-color: #FFD333;
    border-radius: 0 40% 0 0;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;

}

.component-product {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rating {
    font-size: 0.7rem;
    color: black;
    user-select: none;
}

.product-detail p {
    font-size: 0.8rem;
    color: #5f5f6b;
    margin-top: 15px;
}

.button-product {
    height: 65px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-weight: 700;
    font-size: 1.2rem;
}

.btnn {
    position: relative;
    border: none;
    outline: none;
    background-color: #35353f;
    color: #fff;
    height: 39px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favourite .heart-icon {
    transition: color 0.3s ease; /* Chuyển đổi màu sắc với hiệu ứng mượt */
}



.favourite.clicked .heart-icon {
    color: goldenrod; /* Màu sắc của biểu tượng khi nút được click */
}

.cart {
    width: 160px;
}

.favourite {
    width: 40px;
    border-radius: 50%;
}

.btnn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #35353f;
    height: 45px;
    transition: 0.3s;

}

.cart::before {
    width: 165px;
    border-radius: 50px;
}

.favourite::before {
    width: 45px;
    border-radius: 50%;
}

.btnn:hover::before {
    border-color: #fff;
}

.product-img:hover img {
    transform: scale(1.2);
}

.product-img {
    position: relative;
}

.overlay-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.product-img:hover .overlay-product {
    opacity: 1;
}

.overlay-product a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


