body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #669BBC; /* Màu nền chủ đạo cho trang */
    color: #333; /* Màu chữ chính */
}

.page {
    display: flex;
    margin-top: 80px;
}

/* Sidebar styles */
.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #D32F2F; /* Unified red color for sidebar */
    color: #fff; /* White text in the sidebar */
    position: fixed;
    top: 80px;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
}

.sidebar h2 {
    background-color: #D32F2F; /* Same red color for the title */
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
}

.sidebar ul li a {
    color: #fff; /* White text for links */
    text-decoration: none;
    display: block;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #FFC107; /* Brighter hover color for links, can be changed to another red shade if preferred */
}

/* If you have additional elements styled as options that you want in red, ensure their class is targeted */
.option {
    background-color: #D32F2F; /* Ensuring all option elements are also red */
    color: #fff; /* Maintaining white text for readability */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
}


/* Content styles */
.content {
    margin-left: 15%;
    padding: 10px;
    width: 100%;
    background-color: #fff; /* Màu nền cho phần nội dung */
}

.form-container {
    display: flex;
    background-color: #f1f1f1; /* Màu nền cho container form */
}

.right-column, .left-column {
    padding: 10px;
    overflow-x: auto;
}

.left-column {
    width: 70%;
    margin-right: 30px;
}

.right-column {
    width: 32%;
}

/* Styles for table */
table.account {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
}

table.account thead th {
    background-color: #669BBC; /* Màu xanh cho header của bảng */
    color: white;
    padding: 10px;
}

table.account tbody td {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

table.account tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.account tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

/* Input styles */
.row {
    display: flex;
    margin-bottom: 10px;
}

.label {
    width: 30%;
    text-align: left;
    padding-right: 10px;
}

.input {
    width: 70%;
}
