<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>OldProjectController.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListController</servlet-name>
        <servlet-class>OldProjectController.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableAccountServlet</servlet-name>
        <servlet-class>OldProjectController.Account.TableAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <servlet-class>OldProjectController.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDashboardServlet</servlet-name>
        <servlet-class>OldProjectController.PostDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideProduct</servlet-name>
        <servlet-class>OldProjectController.Product.HideProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>OldProjectController.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherDetailServlet</servlet-name>
        <servlet-class>OldProjectController.Voucher.VoucherDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductDBServlet</servlet-name>
        <servlet-class>OldProjectController.Product.EditProductDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>OldProjectController.Product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDashboardServlet</servlet-name>
        <servlet-class>OldProjectController.PostDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>OldProjectController.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>OldProjectController.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>OldProjectController.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostCategoryServlet</servlet-name>
        <servlet-class>OldProjectController.AddPostCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryPostServlet</servlet-name>
        <servlet-class>OldProjectController.DeleteCategoryPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostCategoryServlet</servlet-name>
        <servlet-class>OldProjectController.EditPostCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>OldProjectController.Account.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountServlet</servlet-name>
        <servlet-class>AdminAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/PostListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableAccountServlet</servlet-name>
        <url-pattern>/tableAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/postDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDashboardServlet</servlet-name>
        <url-pattern>/ProductDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideProduct</servlet-name>
        <url-pattern>/HideProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherDetailServlet</servlet-name>
        <url-pattern>/voucherdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductDBServlet</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDashboardServlet</servlet-name>
        <url-pattern>/postDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostCategoryServlet</servlet-name>
        <url-pattern>/AddPostCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryPostServlet</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostCategoryServlet</servlet-name>
        <url-pattern>/EditPostCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountServlet</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
